body {
  margin: 0;
}

nav#navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row;
  width: 100%;
  background-color: #03141f;
  z-index: 2;
  border-bottom: 3px solid rgb(173, 245, 255);
  height: 50px;
  max-height: 50px;
}

.nav-link {
  width: 100%;
  color: #fff;
  font-size: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  border-right: 1px solid rgb(173, 245, 255);
  background-color: #03141f;
}

.nav-link:last-child {
  border-right: none;
}

.nav-link:hover {
  background-color: #153548;
}

.certs-dropdown-content {
  display: none;
  width: 100%;
  background-color: #03141f;
  position: absolute;
  top: 50px;
  left: 0;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-top: 3px solid rgb(173, 245, 255);
  border-bottom: 1px solid rgb(173, 245, 255);
}

.certs-link {
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  padding: 0.7rem;
  color: rgb(189, 236, 238);
}

.certs-link:hover {
  background-color: #153548;
}

.certs-link:last-child {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.certs-dropdown:hover > .certs-dropdown-content {
  display: block;
}

section#welcome-section {
  height: 100vh;
  background: linear-gradient(
    to bottom left,
    rgb(28, 68, 92) 0%,
    rgb(0, 5, 8) 100%
  );
}

div#welcome-div {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  word-wrap: break-word;
}

h1 {
  color: #fff;
  font-size: 3.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Times New Roman", Times, serif;
  text-align: center;
  padding: 0 0.5rem;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: rgb(189, 236, 238);
}

main {
  position: relative;
  bottom: 2.5em;
  background: linear-gradient(#0c88c6, rgb(0, 16, 22));
}

div.projects-header-container {
  position: relative;
  top: 3em;
  height: 8em;
  margin-bottom: 2rem;
}

h2#projects-header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    Courier, monospace;
  font-size: 3em;
  text-align: center;
  color: rgb(255, 255, 255);
}

section#projects {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5rem 0.5rem;
  padding: 0.1rem;
  margin: 0 auto;
}

div.project-name-container {
  height: 6em;
  background-color: #303841;
  margin-top: -2rem;
  border: 1px solid #808080;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0px -8px 0px 5px rgb(216, 237, 255);
}

article.project-tile {
  margin: 0.7rem;
}

p.codepen {
  width: 100%;
}

.project-name {
  position: relative;
  top: 1.8rem;
  text-align: center;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
}

.project-name a {
  font-size: 1.3rem;
  margin: auto;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  color: #fff;
}

#arizonavltcalc-website {
  grid-area: 1/1/2/3;
}

#arizonavltcalc-website iframe {
  border: 1px solid #666666;
  box-sizing: border-box;
}

iframe {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  box-shadow: 0px -8px 0px 5px rgb(216, 237, 255);
}

#contact-section,
footer {
  background-color: #303841;
}

#contact-section {
  height: 100vh;
  margin-top: -5.2em;
}

div#contact-info-div {
  text-align: center;
  position: relative;
  top: 35%;
}

h2#contact-header {
  font-size: 3.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}

div#contact-link-div a {
  word-wrap: break-word;
  font-size: 1.4rem;
  padding: 0;
}

div#contact-link-div {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 90%;
  margin: auto;
  margin-top: 7rem;
  justify-items: center;
}

a i {
   font-size: 3em;
   color: rgb(255, 255, 255, 0.75);
   text-align: center;
}

a i:hover {
   color: rgb(255, 255, 255);
}

a i:active {
  transform: scale(1.1);
}

footer {
  height: 5em;
  margin-bottom: -1.3em;
  border-top: 0.7rem solid rgb(173, 245, 255);
}

p#footer-text {
  text-align: center;
  padding-top: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Courier, monospace;
  font-size: 0.85rem;
  color: rgb(240, 255, 255, 0.7);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  section#projects {
    display: block;
  }

  .project-tile {
    padding-bottom: 1rem;
  }

  a i {
    font-size: 2.2em;
  }

  h2#projects-header {
    font-size: 2.3em;
  }

  .project-name {
    font-size: 1.1em;
  }
  
}

@media (max-width: 360px) {
  .nav-link {
    font-size: 0.8em;
  }
}