body {
  box-sizing: border-box;
  margin: 0;
}

nav#navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
  height: 3em;
  background-color: #03141f;
  z-index: 2;
  border-bottom: 1px solid rgb(173, 245, 255);
}

a {
  color: #fff;
  font-size: 1.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif, Cochin, Georgia, Times,
    "Times New Roman", serif;
  text-decoration: none;
  padding: 0.5rem 0 0 1em;
}

section#welcome-section {
  height: 100vh;
  background: linear-gradient(
    to bottom left,
    rgb(28, 68, 92) 0%,
    rgb(0, 5, 8) 100%
  );
}

div#welcome-div {
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 30%;
  word-wrap: break-word;
}

h1 {
  color: #fff;
  font-size: 3.5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, "Times New Roman", Times, serif;
  text-align: center;
}

p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  color: rgb(189, 236, 238);
}

main {
  position: relative;
  bottom: 2.5em;
  background: linear-gradient(#0c88c6, rgb(0, 16, 22));
}

div.projects-header-container {
  position: relative;
  top: 3em;
  height: 8em;
  margin-bottom: 2rem;
}

h2#projects-header {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    Courier, monospace;
  font-size: 3em;
  text-align: center;
  color: rgb(255, 255, 255);
}

section#projects {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.1rem;
  margin: 0 auto;
}

div.project-name-container {
  height: 6em;
  background-color: #303841;
  margin-top: -2rem;
  border: 1px solid #808080;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

article.project-tile {
  margin: 0.7rem;
}

p.codepen {
  width: 100%;
}

h3.project-name {
  position: relative;
  top: 1.5rem;
  text-align: center;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
}

h3.project-name a {
  font-size: 1.5rem;
  margin: auto;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

iframe {
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

article#arizonavltcalc-website iframe {
  border: 1px solid #808080;
}

#arizonavltcalc-website {
  grid-area: 2 / 1 / 3 / 3;
}

#contact-section,
footer {
  background-color: #303841;
}

#contact-section {
  height: 100vh;
  margin-top: -5.2em;
}

div#contact-info-div {
  text-align: center;
  position: relative;
  top: 35%;
}

h2#contact-header {
  font-size: 3.2em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #fff;
}

div#contact-link-div a {
  word-wrap: break-word;
  font-size: 1.2rem;
}

div#contact-link-div {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 85%;
  margin: auto;
}

.link2,
.link4,
.link6,
.link8,
.link10 {
  text-align: left;
}

footer {
  height: 5em;
  margin-bottom: -1.3em;
  border-top: 0.7rem solid rgb(173, 245, 255);
}

p#footer-text {
  text-align: center;
  padding-top: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Courier, monospace;
  font-size: 1rem;
  color: azure;
}

@media (max-width: 769px) {
  section#projects {
    display: block;
  }

  div#contact-link-div {
    grid-template-columns: auto;
    width: 12em;
  }

  h2#projects-header {
    font-size: 2.3em;
  }
}
